$primary-color: #607D8B;
$dark-primary-color: #455A64;
$light-primary-color: #CFD8DC;
$text-icon-color: #FFFFFF;
$accent-color: #00BCD4;
$primary-text: #212121;
$secondary-text: #757575;
$devider-color: #BDBDBD;


html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.site-content-toolbar {
  background: #ECEFF1;
  color: #757575;
}

.md-48 {
  font-size: 48px;
  height: 48px;
  width: 48px;
}

/*----Sidenav----*/
md-sidenav.md-sidenav-left, md-sidenav.md-sidenav-left md-list {
  background-color: rgb(55,71,79);
  color: rgba(255, 255, 255, 0.56);
}

md-sidenav.md-sidenav-left md-list {
  font-weight: 500;
}
-sidenav md-divider {
  border-top-color: #78909c;
}

md-sidenav md-icon {
  margin-left: 0;
}

/*----Sidenav----*/

/*----Toolbar----*/
.transparent_gradient {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
md-toolbar {
  md-input-container .md-errors-spacer {
    min-height: 0px !important;
  }

  .transparent_gradient {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
  }
}
/*----Toolbar----*/

/*----Slider----*/
#img-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  padding: 0 18px;
}

.md-button.slider-button {
  position: absolute;
  top: 50%;
  width: 56px;
  height: 56px;
  margin-top: -28px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not([disabled]):hover {
   background-color: rgba(255, 255, 255, 0.9);
  }

  .md-48 {
    line-height: 0.9;
  }
}

.slider-button-prev {
  left: 12px;

  .md-48 {
    margin-left: -4px;
  }
}
.slider-button-next {
  right: 12px;

  .md-48 {
    margin-left: -2px;
  }
}
/*----Slider----*/

.blue_grey-400 {
  color: #78909c;
}

/*----Sidenav right----*/
#photo_detail_input md-input-container {
  margin: 0;
  padding: 0;
}

.md-sidenav-right {
  background-color: $text-icon-color;

  md-content {
    background-color: $text-icon-color;
  } 
}

.md-sidenav-right md-divider {
  margin: 0 -8px;
}

.md-sidenav-right md-input-container label, .md-sidenav-right md-input-container .md-input {
  text-shadow: none;
}

.md-sidenav-right md-input-container label {
  color: rgba(96, 125, 139, 0.5);
}

.md-sidenav-right md-input-container .md-input {
  color: rgb(96, 125, 139);
}
.md-sidenav-right md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: rgb(0, 188, 212);
}

.md-sidenav-right md-list md-list-item.md-2-line .md-list-item-text span {
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin-right: 12px;
}
/*----Sidenav right----*/

md-toolbar.md-default-theme.md-hue-1:not(.md-menu-toolbar), md-toolbar.md-hue-1:not(.md-menu-toolbar).sidenav-right-toolbar {
  background-color: $text-icon-color;
}

.pagination .md-button {
  min-width: 40px;
}
