md-toolbar.md-toolbar-tools.transparent_gradient
  md-button.md-icon-button(aria-label='Menu', ng-click='sideMenuController.toggle()')
    md-icon menu
  span(flex='')
  md-button.md-icon-button(aria-label='Zoom in')
    md-icon zoom_in
  md-button.md-icon-button(aria-label='Info', ng-click='photoDetailController.toggleFotoForm()')
    md-icon info
  md-button.md-icon-button(aria-label='Delete')
    md-icon delete
  md-menu(md-position-mode='target-right target')
    md-button.md-icon-button(aria-label='More' class="md-icon-button" ng-click='photoDetailController.openMenu($mdOpenMenu, $event)')
      md-icon(md-menu-origin='') more_vert
    md-menu-content(width='3')
      md-menu-item(ng-repeat='item in [1, 2, 3]')
        md-button(class="md-accent" ng-click='photoDetailController.menuItemClick($index)')
          div(layout='row', flex='')
            p(flex='') Option {{item}}

div(flex layout='row' layout-fill)
  md-content.md-background.md-hue-2(id="img-wrapper" layout="row" layout-align="center center" layout-fill flex='')
    img(ng-src="{{ photoDetailController.photo.url }}")

  md-button.slider-button.md-accent.slider-button-prev.md-icon-button(
    ng-click="photoDetailController.showPrev()"
    ng-show="photoDetailController.arrowButtons.leftArrowVisible"
  )
    md-icon.md-48(aria-label='Naviagte Before') navigate_before
  md-button.slider-button.md-accent.slider-button-next.md-icon-button(
    ng-click="photoDetailController.showNext()"
    ng-show="photoDetailController.arrowButtons.rightArrowVisible"
  )
    md-icon.md-48(aria-label='Navigate Next') navigate_next


  md-sidenav.md-sidenav-right(md-component-id='right', md-disable-backdrop='', md-is-open="photoDetailController.isFotoFormOpen" md-is-locked-open="photoDetailController.isFotoFormOpen", flex-xs="100")
    md-toolbar.md-default-theme.md-hue-1(layout="row")
      h1.md-toolbar-tools Info
      md-button.md-icon-button(aria-label='Close', ng-click='photoDetailController.close()')
        md-icon close
    md-content(layout-padding='')
      #photo_detail_input
        form
          md-input-container.md-block.md-accent
            label(for='testInput') Test input
            input#testInput(type='text', ng-model='data', md-autofocus='')
      md-divider

      md-list(flex='')
        md-subheader.md-no-sticky Details
        md-list-item.md-2-line
          md-icon(aria-label='Insert invitation') insert_invitation
          .md-list-item-text
            h3 22. April
            p Fr., 16:53
        md-list-item.md-2-line
          md-icon(aria-label='Camera') camera
          .md-list-item-text
            h3 D5803
            div
              span f/2
              span 1/400
              span 4.6 mm
              span ISO 50
        md-list-item.md-2-line
          md-icon(aria-label='Image') image
          .md-list-item-text
            h3 {{photoDetailController.photo.fileName}}
            div
              span 8.3 MP
              span 3840 × 2160
              span 1.8 MB
      md-button.md-primary(ng-click='photoDetailController.close()')
        | Close Sidenav Right
