md-toolbar.sidenav-right-toolbar.tmd-default-theme.md-hue-1(layout="row")
  h1.md-toolbar-tools Info
  md-button.md-icon-button(aria-label='Close', ng-click='$ctrl.close()')
    md-icon close
md-content(layout-padding='')
  #photo_detail_input
    md-input-container.md-block.md-accent
      label(for='title') Title
      input#title(type='text', ng-model='$ctrl.photo.metadata.title', md-autofocus='')

  md-list(flex='')
    md-list-item.md-2-line
      md-icon(aria-label='Insert invitation') insert_invitation
      .md-list-item-text
        h3 {{$ctrl.photoDateString()}}
        p {{$ctrl.photoTimeString()}}
    md-list-item.md-2-line
      md-icon(aria-label='Camera') camera
      .md-list-item-text
        h3 {{$ctrl.photo.metadata.tags.Model}}
        div
          span(ng-repeat='property in $ctrl.photoExposure()') {{property}}
    md-list-item.md-2-line
      md-icon(aria-label='Image') image
      .md-list-item-text
        h3 {{$ctrl.photo.metadata.title}}
        div
          span(ng-repeat='property in $ctrl.photoDimesions()') {{property}}
  
  md-input-container.md-block.md-accent
    label(for='description') Description
    textarea#description(ng-model='$ctrl.photo.metadata.description', rows="1")  


