md-toolbar.md-whiteframe-2dp.md-hue-1.md-toolbar-tools
    md-button.md-icon-button(aria-label='Menu', ng-click='$ctrl.toggleSideMenu()')
      md-icon menu
    span(flex='')

    md-input-container.md-block.md-accent(flex-gt-sm)
      input(
        ng-model='$ctrl.searchTerm' aria-label='Search'
        ng-change='$ctrl.search()'
      )
    md-button.md-icon-button(aria-label='Search')
      md-icon search

    md-button.md-icon-button(aria-label='Add', ngf-select='$ctrl.uploadPhotos($files, $invalidFiles)', multiple='', accept="image/*")
      md-icon add
      
    md-button.md-icon-button(aria-label='More')
      md-icon more_vert

