html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.site-content-toolbar{
  background: #ECEFF1;
  color: #757575;
}

/*----Sidenav----*/
md-sidenav.md-sidenav-left, md-sidenav.md-sidenav-left md-list {
  background-color: rgb(55,71,79);
  color: rgba(255, 255, 255, 0.56);
}

md-sidenav.md-sidenav-left md-list{
  font-weight: 500;
}

md-sidenav md-divider{
  border-top-color: #78909c;
}

md-sidenav md-icon{
  margin-left: 0;
}
/*----Sidenav----*/

/*----Toolbar----*/
.transparent_gradient{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
md-toolbar.transparent_gradient{
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  height: 64px;
}
/*----Toolbar----*/

#img-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  padding: 0 18px;
}

.blue_grey-400{
  color: #78909c;
}

/*----Sidenav right----*/
#photo_detail_input md-input-container{
  margin: 0;
  padding: 0;
}

.md-sidenav-right md-divider{
  margin: 0 -8px;
}

.md-sidenav-right md-input-container label, .md-sidenav-right md-input-container .md-input{
  text-shadow: none;
}

.md-sidenav-right md-input-container label{
  color: rgba(96, 125, 139, 0.5);
}

.md-sidenav-right md-input-container .md-input{
  color: rgb(96, 125, 139);
}
.md-sidenav-right md-input-container:not(.md-input-invalid).md-input-has-value label{
  color: rgb(0, 188, 212);
}

.md-sidenav-right md-list md-list-item.md-2-line .md-list-item-text span{
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin-right: 12px;
}
/*----Sidenav right----*/
